.container_about{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    background: black;

}

.container_about h1{
    color: white;
    font-size: 4rem;
    font-family: var(--Font-family-primary);
    color: white;
}

#SECTION2,#SECTION3, #SECTION4, #SECTION5, #SECTION6{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    background: black
    
}

#SECTION2,#SECTION3, #SECTION4, #SECTION5, #SECTION6 h1{
    color: white;
    font-size: 4rem;
    font-family: var(--Font-family-primary);
    color: white;
}

footer{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer h6{
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: 200;
    font-family: var(--Font-family-primary);
    color: white;
}